body {
    display: flex;
    flex-wrap: wrap;

figure{
    background-color: red;
    max-width: 250px;
    max-height: 200px;
    text-align: center;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    overflow: hidden;

    img{
        background-color: greenyellow;
        width: 90%;
        height: 80%;
        border-radius: 10px;
        cursor: pointer;

    }
}
}